:root{
    --background: #1e1c21;
    --pink: #fc1e8b;
    --purple: #7278c3;
    --blue: #00a8dc;
}


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background);
    font-family: 'Titllium Web', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gradient{
    background: rgba(252,30,139,1);
background: -moz-linear-gradient(left, rgba(252,30,139,1) 0%, rgba(114,104,195,1) 50%, rgba(93,147,240,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,30,139,1)), color-stop(50%, rgba(114,104,195,1)), color-stop(100%, rgba(93,147,240,1)));
background: -webkit-linear-gradient(left, rgba(252,30,139,1) 0%, rgba(114,104,195,1) 50%, rgba(93,147,240,1) 100%);
background: -o-linear-gradient(left, rgba(252,30,139,1) 0%, rgba(114,104,195,1) 50%, rgba(93,147,240,1) 100%);
background: -ms-linear-gradient(left, rgba(252,30,139,1) 0%, rgba(114,104,195,1) 50%, rgba(93,147,240,1) 100%);
background: linear-gradient(to right, rgba(252,30,139,1) 0%, rgba(114,104,195,1) 50%, rgba(93,147,240,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc1e8b', endColorstr='#5d93f0', GradientType=1 );
}

.container{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

header a{
    color: #FFF;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    box-shadow: 0px 13px 10px  rgba(0, 0, 0, 0.5);
}

.cabecalho ul{
    display: flex; 
    justify-content: space-around;
}

.cabecalho nav{
    width: 58%;
}